<!DOCTYPE html>
<html>
    <head>
        <title>Python compiler</title>
        <link rel="stylesheet" href="index.css" type="text/css">
    </head>
    <body>
        <div class="innskriving">
            <label for="inputfelt"> Skriv inn python-kode i tekstfeltet under: </label>
            <br>
            <textarea name="" id="inputfelt" cols="30" rows="10">
            </textarea>
        </div>

        <div class="kjorknapp">
            <button>Run</button>
        </div>

        <div class="svar">
            <label for="svarfelt">Svar: </label>
            <textarea name="" id="svarfelt" cols="30" rows="10">
            </textarea>
        </div>
        
    </body>
</html>